<div class="row" *ngIf="product; else elseBlock">
  <div class="col-12 col-sm-9 col-lg-5">
    <div class="row row-cols-1">
      <div class="col mt-3">
        <h2 class="d-lg-none font-light h1">{{ product.name }}</h2>
        <img class="img-fluid rounded" src="{{ product.imageUrl }}" alt="{{ product.name }}-image">
      </div>
      <div class="col">
        <p class="font-light-0 h3 mt-2">${{ product.price }}</p>
        <app-place-order-form [productId]="product.id"></app-place-order-form>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-12 col-sm-9 col-lg-6 mt-3">
    <h2 class="d-none d-lg-block font-light h1">{{ product.name }}</h2>
    <h2 class="font-light-0">Description</h2>
    <p class="border font-light p-1">
      {{ product.description }}
    </p>
    <h2 class="font-light-0 mt-4">Nutritional information</h2>
    <p class="font-light border p-1">
      {{ product.nutritionInfo }}
    </p>
  </div>
</div>
<ng-template #elseBlock>
  <p>
    <i class="fa fa-spinner fa-spin fa-2x fa-pulse"></i>
  </p>
</ng-template>
