<ng-container *ngIf="orders; else elseBlock">
  <table class="table" *ngIf="orders.length > 0; else elseBlock">
    <thead>
      <tr>
        <th>Time</th>
        <th>Quantity</th>
        <th>Product</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.timePlaced }}</td>
        <td>{{ order.productQuantity }}</td>
        <td>{{ order.product?.name }}</td>
        <td [ngClass]="{
          'text-secondary': (order.status === ORDER_STATUS.DELIVERED),
          'text-warning': (order.status === ORDER_STATUS.PENDING),
          'text-success': (order.status === ORDER_STATUS.PROCESSING)
        }">
          {{ order.status }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #elseBlock>
    <p>You currently don't have any orders</p>
  </ng-template>
</ng-container>
<ng-template #elseBlock>
  <i class="fa fa-spinner fa-2x fa-spin"></i>
</ng-template>
