<form class="order-placement-form" (ngSubmit)="orderMeal()">
  <label class="text-uppercase font-bold h6 mb-2" for="quantity">Quantity</label>
  <div class="d-flex order-quantity-box">
    <button type="button" class="btn-add" (click)="incrementQuantity()">
      <span class="fa fa-plus"></span>
    </button>
    <input class="order-quantity" [(ngModel)]="quantity" type="number" name="quantity" min="1" max="1000" id="quantity">
    <button type="button" class="btn-minus font-light" (click)="decrementQuantity()">
      <span class="fa fa-minus"></span>
    </button>
  </div>
  <button class="btn-submit text-uppercase font-bold">Place order</button>
</form>
