img {
  max-width: 100%;
}

.product {
  max-width: 180px;
  border: 1px solid green;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: rgb(228, 255, 228);
    box-shadow: 0 0 5px green;
  }

  a {
    color: #000;
    text-decoration: none;
  }
}

.product-image {
  border-radius: 50%;
}

.product-info {
  .info {
    display: block;
  }
}

nav,
.navbar,
footer {
  a {
    color: green;
    font-weight: 500;
    text-decoration: none;

    &:hover,
    &:focus {
      color: limegreen;
    }
  }
}

.order-quantity-box {
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input,
  button {
    background: none;
    border: 1px solid green !important;
    height: 30px;
  }
  button {
    color: green;
    width: 30px;
    background: #fff;

    &:hover,
    &:focus,
    &:active {
      background: green;
      color: #fff;
    }
  }
  .btn-add {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .btn-minus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .order-quantity {
    max-width: 50px;
    outline: none;
  }
}

.order-placement-form {
  border: none !important;
}

.btn-submit {
  width: 100%;
  margin-top: 10px;
  background: none;
  border: 1px solid green;
  color: green;
  height: 2.6em;
  outline: none !important;

  &:hover,
  &:focus,
  &:active {
    background: green;
    color: #fff;
  }
}

.product-info-img {
  max-width: 400px;
}

.font-light {
  font-weight: 300;
}

.font-light-0 {
  font-weight: 400;
}

.font-bold {
  font-weight: 600;
}

.login-form {
  input {
    outline: none;
    border: 1px solid grey !important;
    height: 3em !important;
    border-radius: 0;
  }
  input {
    &:hover {
      box-shadow: 0 0 3px green !important;
    }
    &:active,
    &:focus {
      box-shadow: 0 0 12px green !important;
    }
  }
}

// alerts
.alerts-container {
  position: sticky;
  width: 40%;
  top: 1em;
  left: 30%;
}
.alert {
  background: #aaa8a8;
  color: #000;
  border: 1px solid #fefefe;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 3px;
  margin-bottom: 5px;
}
.close-alert {
  color: red;
  display: block;
  cursor: pointer;
}
.alert-success {
  background: #e0ffb0;
  color: green;
  border-color: green;
}
.alert-success .close-alert {
  color: green;
}
.alert-info {
  background: skyblue;
  color: #00f;
  border-color: #00f;
}
.alert-info .close-alert {
  color: #00f;
}
.alert-warning {
  background: #ffffcf;
  color: orange;
  border-color: orange;
}
.alert-warning .close-alert {
  color: orange;
}
.alert-danger {
  background: #fff1eb;
  color: red;
  border-color: red;
}
.alert-danger .close-alert {
  color: red;
}

// button
.btn {
  background: #000;
  color: #fff !important;
  border: 1px solid #000;
  padding: 0.45em;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.98);
}
.btn-green {
  background: green;
  color: #fff !important;
  border: 1px solid green;
}
.btn-orange {
  background: #ffff65;
  color: #ff1800 !important;
  border: 1px solid #ffff9f;
}
.btn-inactive {
  background: #f7f7f7;
  color: #888787 !important;
  border: 1px solid #f7f7f7;
}
