<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-uppercase font-light-0">Time</th>
        <th scope="col" class="text-uppercase font-light-0">Quantity</th>
        <th scope="col" class="text-uppercase font-light-0">Product</th>
        <th scope="col" class="text-uppercase font-light-0">Status</th>
        <th scope="col" class="text-uppercase font-light-0"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="font-light">{{ order.timePlaced }}</td>
        <td class="font-light">{{ order.productQuantity }}</td>
        <td class="font-light">{{ order.product?.name }}</td>
        <td class="font-light"
          [ngClass]="{'text-success': order.status===ORDER_STATUS.DELIVERED, 'text-warning': order.status===ORDER_STATUS.PROCESSING, 'text-danger': order.status===ORDER_STATUS.PENDING}">
          {{ order.status }}</td>
        <td>
          <button *ngIf="order.status !== ORDER_STATUS.DELIVERED; else elseBlock"
            [ngClass]="{'btn-green': order.status===ORDER_STATUS.PENDING, 'btn-orange': order.status===ORDER_STATUS.PROCESSING}"
            (click)="processOrder(order.id || -1, order.status)" class="btn">
            PROCESS
          </button>
          <ng-template #elseBlock>
            <button disabled class="btn btn-inactive">
              DELIVERED
            </button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="orders.length < 1">There are currently no orders to display</p>
</div>
