/** alerts */
.alerts-container {
  position: absolute;
  width: 40%;
  top: 1em;
  left: 30%;
}

.alert {
  background: #aaa8a8;
  border: 1px solid #fefefe;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 3px;
  margin-bottom: 5px;
}

.alert .msg {
  color: #000;
}

.close-alert {
  color: red;
  display: block;
  cursor: pointer;
}

.alert-success {
  background: #e0ffb0;
  border-color: green;
}

.alert-success .msg {
  color: green;
}

.alert-success .close-alert {
  color: green;
}

.alert-info {
  background: skyblue;
  border-color: blue;
}

.alert-info .msg {
  color: blue;
}

.alert-info .close-alert {
  color: blue;
}

.alert-warning {
  background: #ffffcf;
  border-color: orange;
}

.alert-warning .msg {
  color: orange;
}

.alert-warning .close-alert {
  color: orange;
}

.alert-danger {
  background: #fff1eb;
  border-color: red;
}

.alert-danger .msg {
  color: red;
}

.alert-danger .close-alert {
  color: red;
}
