.order-list {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid #000;
  background: green;

  td {
    color: #fff;
    padding: 15px 4px !important;
  }
}

tr {
  border-bottom: 1px solid #000;
}

tr:nth-child(even) {
  background: #ececec;
  color: #000;
}

td {
  padding: 9px 4px;
}
